@keyframes fade-in {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.phase_grp {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.phase_grp h2 {
    font-size: 3vw;
    text-align: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.phase_grp h3 {
    font-size: 2vw;
    text-align: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-top: 0.5vw solid #000000;
}

.phase_organize {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    flex: 25%;
    justify-content: center;
}

.phase_organize img {
    border-radius: 1vw;
    border: 0.35vw solid #ffffff00;
    margin: 0.65vw;
    transition-duration: 0.7s;
    vertical-align: middle;
    flex-grow: 0;
    flex-shrink: 0;
}

.phase_organize img:hover {
    border-color: #ffffff;
    border-radius: 0.5vw;
}

.phase_poster {
    width: 19vw;
    height: auto;
}

.phase_ls {
    width: 18vw;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .phase_organize {
        flex: 50%;
    }

    .phase_poster {
        width: 36vw;
    }

    .phase_ls {
        width: 36vw;
    }

    .phase_grp h2 {
        font-size: 4vh;
    }

    .phase_grp h3 {
        font-size: 3vh;
        border-top-width: 0.5vh;
    }
}