.container_top {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.container_top:last-child {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1vh black;
    animation-duration: 1s;
    margin-bottom: 10vh;
}

.container_top a {
    width: fit-content;
    height: fit-content;
}

.container_top a img {
    background-color: white;
    width: 19vw;
    border-radius: 50%;
    animation-name: enter-pfp;
    animation-duration: 1s;
    margin: 0px 1vw;
    vertical-align: middle;
    max-width: 110px;
}

#pfp {
    max-width: none;
    width: 50vw;
    animation-name: enter-pfp-m;
}

@keyframes enter-pfp-m {
    from {opacity: 0; transform: translate(0px, 20vh);}
    to {opacity: 1; transform: none;}
}

@keyframes enter-pfp {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#username {
    animation-name: enter-un;
    animation-duration: 1s;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vh;
}

@keyframes enter-un {
    0% {transform: translate(0px, -10vh);}
    100% {transform: none;}
}

@media only screen and (min-width: 800px) {
    #pfp {
        width: 50vh;
    }
}