.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav_tab {
    float: left;
    background-color: transparent;
    border: hidden;
}

.nav_logo {
    display: block;
    float: right;
    background-color: transparent;
    padding: 1px 5px;
    transition-duration: 0.2s;
}

.nav_logo:hover {
    background-color: #111;
}

.nav_tab:last-child {
    border-right: none;
}

.nav_tab a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.nav_tab:hover {
    background-color: #111;
}

.tab_content {
    display: none;
}