.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e7e7e7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav_tab {
    float: left;
    background-color: transparent;
    border: hidden;
    padding: 1% 2%;
    margin: auto;
}

.nav_tab:last-child {
    border-right: none;
}

.nav_tab a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    font-size: 1.6vw;
    white-space:nowrap;
}

.nav_tab:hover {
    background-color: black;
}

.nav_logo {
    display: block;
    float: left;
    background-color: transparent;
    padding: 1px 5px;
    padding-right: 8px;
    transition-duration: 0.2s;
    border-right: 0.3vw solid #ffffffc0;
}

.nav_logo:hover {
    background-color: #111;
}

.tab_content {
    display: none;
}