@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

.nav_bar {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e7e7e7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-bottom: 1vh;
}

.nav_tab {
    float: left;
    transition-duration: 0.1s;
    background-color: transparent;
    border: hidden;
    padding: 1% 2%;
    margin: auto;
    justify-content: center;
}

.nav_tab a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.6vw;
    white-space: nowrap;
}

.nav_tab:hover {
    background-color: black;
}

.nav_logo {
    display: block;
    float: left;
    background-color: transparent;
    padding: 1px 5px;
    transition-duration: 0.1s;
    border-right: 0.3vw solid #ffffffc0;
    width: 4%;
    height: 4%;
}

.nav_logo:hover {
    background-color: #111;
}

@media only screen and (max-width: 600px) {
    .nav_logo {
        padding: 1.2vw 1.2vw;
    }

    .nav_tab a {
        font-size: 2.4vw;
    }
}