@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

body {
    background-color:gainsboro;
    margin: 1vh;
}

@keyframes fade-in {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.about_header {
    text-align: center;
    padding: 8vh;

    background-color: aliceblue;
    box-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    border-radius: 0.3vh;
}

.about_header h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3vw;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.about_header img {
    animation-name: fade-in;
    animation-duration: 1.5s;
}

@media only screen and (max-width: 600px) {
    .about_header h1 {
        font-size: 5vw;
    }
}

.container_grp {
    margin-top: 2vh;
    height: 19vh;
    background-color: white;
    padding: 1.5vh 0px;
    border-radius: 1vh;
    overflow: hidden;
    transition-duration: 0.5s;
    box-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.container_grp img {
    width: 18vh;
    border: 0.5vh solid white;
    border-radius: 1vh;
    margin-left: 2vh;
}

.container_icon {
    width: 5vw;
}

.container_grp div {
    width: 70%;
    float: right;
    height: fit-content;
    margin-top: 1vh;
}

.container_grp div h1 {
    font-size: 5vh;
    margin: 0px;
}

.container_grp div h2 {
    width: 15%;
    min-width: fit-content;
    margin: 0px;
    font-size: 2vh;
    border-top: 0.3vh solid black;
}

.container_grp div button {
    float: left;
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.068);
    border: hidden;
    padding: 1% 2%;
    margin-top: 5px;
    margin-right: 5px;
    justify-content: center;
    border-radius: 1vh;
}

.container_grp div button a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    white-space: nowrap;
}

.container_grp div button:hover {
    background-color: rgba(0, 0, 0, 0.411);
}

@media only screen and (max-width: 600px) {
    .container_grp {
        height: fit-content;
    }

    .container_grp img {
        width: 18vw;
    }

    .container_grp div h1 {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 800px) {
    .container_grp {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .container_grp {
        margin-left: auto;
        margin-right: auto;
    }

    .container_grp div {
        width: 80%;
    }
}