@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

body {
    background-color:gainsboro;
    margin: 1vh;
}

@keyframes fade-in {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

.about_header {
    text-align: center;
    padding: 8vh;

    background-color: aliceblue;
}

.about_header h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3vw;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.about_header img {
    animation-name: fade-in;
    animation-duration: 1.5s;
}

@media only screen and (max-width: 600px) {
    .about_header h1 {
        font-size: 5vw;
    }
}